@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '../__pallete';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;

}

body{

}

header{

    .content_wrapper{

        .logo_container{
            display: flex;
            flex-shrink: 0;
            width: 100px;
            transition: .5s;
            
        }
        
        .title-container{

            .header-title{
                display: flex;
                align-items: center;
                transition: .5s;
            }
        }
    }

}

.carousel-content{

    .carousel-arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        padding: .3em;

        transition: .5s;
        color: white;
        background: #ffffff;
        border-radius: 100%;
        border: solid white 1px;
        box-shadow: 1px 1px 5px black;

        svg{
            width: 30px;
            aspect-ratio: 1;

            path{
                stroke: $orangePrimary;
            }
        }

        &.left{
            left: 30px;
        }

        &.right{
            right: 30px;
        }
    }
}

.section-content{

    .button-content{

        .__button{
            display: flex;
            align-items: center;
            justify-content: center;
            
            background: $orangePrimary;
            color: white;
            padding: 1em 5em;
            border-radius: 12px;
        }
    }
}

footer{
    background: $bluePrimary;
    // background: linear-gradient(to bottom right, $bluePrimary, $greenPrimary);
    height: 110px;

    box-shadow: 0 0px 12px black;
    

    .__background{

        pointer-events: none;
        filter: hue-rotate(10deg);

        .logo-container{
            z-index: 3;
            height: 100%;
            
            right: 30px;

            img{
                height: 72px;
                aspect-ratio: 1;
            }
        }

        .__blue-filter{
            z-index: 2;

            background: #040b5c83;
        }

        .__lines{
            z-index: 1;

            .__line{
                width: 70px;
                height: 100%;

                transform: skewX(-30deg);

                &:nth-child(1){
                    background: $orangePrimary;
                }

                &:nth-child(2){
                    background: $greenPrimary;
                }

                &:nth-child(3){
                    background: #ffffff;
                }
            }
        }        
    }

    .text-content{

        .title-container{
            margin-top: .5em;
            margin-bottom: .5em;

        }

        .description-content{

            .description-column{

                font-size: 10px;

                .__rows{

                    .__row{
                        margin-bottom: .5em;
                        .__icon{
                            width: 15px;
                            aspect-ratio: 1;
                            margin-right: .5em;

                            svg{
                                width: 100%;
                                height: 100%;

                                path{
                                    fill: #ffffff;

                                }
                            }
                        }
                        svg{

                        }

                        .__description{

                        }
                    }
                }

                &.right-column{
                    margin-left: 3em;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    
    header{

         .content_wrapper{
            width: 90%;
            
            .logo_container{
                transform: scale(.7);
    
            }
    
            .title-container{

                .header-title{
                    font-size: 9px;
                }
            }
         }
    }

    .carousel-content{

        .carousel-arrow{
            transform: scale(0.8);

            &.left{
                left: 5px;
            }

            &.right{
                right: 5px;
            }
        }
    }

    footer{
        height: 160px;
        transition: .5s;

        .__background{

            .logo-container{
                right: 15px;
                
                img{
                    height: 40px;
                }
            }
        }

        .text-content{

            .description-content{
                flex-direction: column;

                .description-column{
    
                    &.right-column{
                        margin-left: 0;
                    }
                }
            }

        }
    }
    
}

@media (min-width: 420px) and (max-width: 671px) {
    footer{
        
        .__background{

            .logo-container{
                align-items: inherit;
                right: 15px;
                
                img{
                    margin-top: .5em;
                    height: 30px;
                }
            }
        }

        .text-content{
            .description-content{
                
                .description-column{

                    font-size: 8px;
                }
            }
        }
    }
}